html, body {
    height: 100%;
    font-family: monospace;
}

.main-div {
    /* height: 49vw; */
    height: 100%;
}

/* .content {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color:black;
    width: 20%;
} */

.content {
    padding: 10px;
    /* backdrop-filter: blur(20px); */
    backdrop-filter: brightness(60%);
    /* backdrop-filter: grayscale(100%); */
    /* backdrop-filter: saturate(50%); */
    border-radius: 10px;
    width: 50%;
}

.content h1 {
    font-size: 5em;
    font-weight: bolder;
}

.content h3 {
    font-size: 3em;
    font-weight: bolder;
}

.quote-container p {
    margin: 0 auto;
    /* padding: 0; */
}

.quote-container #quote {
    font-size: 1.8em;
}

.quote-container #author {
    font-size: 1.3em;
    font-style: italic;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.heart {
    color: orange;
}

.dev-name {
    color: orange;
    font-style: italic;
    text-decoration: none;
}