html, body {
    height: 100%;
    font-family: monospace;
}

.main-div {
    /* height: 49vw; */
    height: 100%;
}

/* .content {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color:black;
    width: 20%;
} */

.content {
    padding: 20px;
    /* backdrop-filter: blur(10px); */
}

.content h1 {
    font-size: 5em;
    font-weight: bolder;
}

.content h3 {
    font-size: 3em;
    font-weight: bolder;
}


.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.heart {
    color: orange;
}

.dev-name {
    color: orange;
    font-style: italic;
    text-decoration: none;
}